.MuiTypography-root {
  color: #5B8C5A
}
.MuiAppBar-colorPrimary {
  background-color: black !important
}

.username {
  flex: auto
}

@media screen and (max-width: 766px) {
  .navLink {
    display: none !important
  }
}